
.boxred { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1.2rem #fe1313,
            0 0 0.1rem #fe1313,
            0 0 0.8rem #fe1313,
            inset 0 0 0.1rem #fe1313; 
}

.boxgreen { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #ffffff,
            0 0 .1rem #fff,
            0 0 1.2rem #51ff00,
            0 0 0.1rem #51ff00,
            0 0 0.8rem #51ff00,
            inset 0 0 0.1rem #51ff00; 
}



.boxorange { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1.2rem #ffb300,
            0 0 0.1rem #ffb300,
            0 0 0.8rem #ffb300,
            inset 0 0 0.1rem #ffb300; 
}

.boxyellow { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1.2rem #ffff00,
            0 0 0.1rem #ffff00,
            0 0 0.8rem #ffff00,
            inset 0 0 0.1rem #ffff00; 
}