
.boxred { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1.2rem #fe1313,
            0 0 0.1rem #fe1313,
            0 0 0.8rem #fe1313,
            inset 0 0 0.1rem #fe1313; 
}
.neonBox {
  color: #000323;
  text-shadow:
    0 0 3px #000323,
    0 0 10px #000323,
    0 0 1px #000323,
    0 0 1px #13bbfe,
    0 0 3px #13bbfe,
    0 0 3px #13bbfe,
    0 0 3px #13bbfe,
    0 0 3px #13bbfe;
}
.boxgreen { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #ffffff,
            0 0 .1rem #fff,
            0 0 1.2rem #51ff00,
            0 0 0.1rem #51ff00,
            0 0 0.8rem #51ff00,
            inset 0 0 0.1rem #51ff00; 
}

.boxgreen { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #606160,
            0 0 .1rem #606160,
            0 0 1.2rem #ffffff,
            0 0 0.1rem #ffffff,
            0 0 0.8rem #ffffff,
            inset 0 0 0.1rem #ffffff; 
}



.boxorange { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1.2rem #ff6321,
            0 0 0.1rem #ff6321,
            0 0 0.8rem #ff6321,
            inset 0 0 0.1rem #ff6321; 
}

.boxyellow { 
  border: 0.1rem solid #fff;
  padding: 0.4em;
  box-shadow: 0 0 .1rem #fff,
            0 0 .1rem #fff,
            0 0 1.2rem #ffff00,
            0 0 0.1rem #ffff00,
            0 0 0.8rem #ffff00,
            inset 0 0 0.1rem #ffff00; 
}